/* 
#434455 - головний колір тексту
#2E2F42 - другорядний колір тексту, фон героя та футера
#E7E9FC - другорядний колір фону
#FFFFFF - білий 
#E7E9FC - footer text
*/
:root{
   --primary-text-color: #434455;
   --secondary-text-color: #2E2F42;
   --primary-white-color: #fff;
}
body{
   background-color: var(--primary-white-color);
   color: var(--primary-text-color);
}
.logo{
   color: #4D5AE5;
}
.logo .header-studio{
   color: var(--secondary-text-color);
}
.site-nav .list{
   color: var(--secondary-text-color);
}
/* .contacts .list{
   
} */
.hero{
   background: var(--secondary-text-color);
   color: var(--primary-white-color);
   width: 1440px;
   height: 603px;
   text-align: center;
}
.hero-title{
   font-weight: 600;
   font-size: 56px;
   line-height: 1;
   text-align: center;
   letter-spacing: 0.02em;
}
button{
   background: #4D5AE5;
   color: var(--primary-white-color);
   width: 170px;
   height: 51px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;
}



.section-title{
   color: var(--secondary-text-color);
}

footer{
   background-color: var(--secondary-text-color);
}
.footer-p{
   color: #E7E9FC;
}
.logo .footer-studio{
   color: #F4F4FD;
}

/* text-decoration: none; -- для посилань*/
/* list-style: none; -- для всіх li */