/* 
#434455 - головний колір тексту
#2E2F42 - другорядний колір тексту, фон героя та футера
#E7E9FC - другорядний колір фону
#FFFFFF - білий 
#E7E9FC - footer text
*/
:root{
   --primary-text-color: #434455;
   --secondary-text-color: #2E2F42;
   --primary-white-color: #fff;
}
body{
   background-color: var(--primary-white-color);
   color: var(--primary-text-color);
}
.logo{
   color: #4D5AE5;
}
.logo .header-word{
   color: var(--secondary-text-color);
}




footer{
   background-color: var(--secondary-text-color);
}
.footer-p{
   color: #E7E9FC;
}
.logo .footer-word {
   color: #F4F4FD;
}

/* text-decoration: none; -- для посилань*/
/* list-style: none; -- для всіх li */