:root{
   --primary-text-color: #434455;
   --secondary-text-color: #2E2F42;
   --primary-white-color: #fff;
   --primary-brand-color: #4D5AE5;
   --primary-font-weight: 400;
   --primary-font-size: 16px;
   --primary-line-height: 1.5;
   --primary-letter-spacing: 0.02em;
}
/* ----------------------> */
body,
.portfolio{
   color: var(--primary-text-color);
   background-color: var(--primary-white-color);
   font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-weight: var(--primary-font-weight);
   font-size: var(--primary-font-size);
   line-height: var(--primary-line-height);
   letter-spacing: var(--primary-letter-spacing);
}
.portfolio {
   --primary-text-color: var(--secondary-text-color);
   --primary-font-weight: 600;
}
/* ----------------------> */
.link{ 
   text-decoration: none;
}
.list{
   list-style: none;
}
/* ------------->------------->-------------> */
/* загальні параметри лого */
.logo{
   color: var(--primary-brand-color);
   font-family: 'Raleway', 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-weight: 800;
   font-size: 18px;
   letter-spacing: 0.03em;
}
/* параметр лого, який буде відображено тільки у шапці сторінки
P.S. можна було і не заморачуватись так сильно,
і зробити загальний параметр 'line-height', але вирішив спробувати зробити як у макеті, цікаво чи правильно зробив в плані селекторів?
(очікую фідбек)*/
.header .logo{
   line-height: 1.3;
}
/* параметр другого слова логотипу, який буде відображено тільки у шапці сторінки, тому і селектор трохи складний (чи все ж таки краще зробити так як описав селектор чуть нище у коментарях?)
.header .logo-studio { */
.header .logo .studio{ 
   color: var(--secondary-text-color);
}
/* ----------------------> */
.nav .link{
   font-weight: 600;
   color: var(--secondary-text-color);
}
.nav .link:hover,
.nav .link:focus{
   color: var(--primary-text-color);
}
.nav .link:active{
   color: var(--primary-brand-color);
}
/* ----------------------> */
.contacts .link{
   color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus{
   color: var(--primary-brand-color);
}
.portfolio .contacts .link {
   font-weight: 400;
}
/* ------------->------------->-------------> */
.hero{
   background: var(--secondary-text-color);
   color: var(--primary-white-color);
   font-weight: 600;
   text-align: center;
}
.hero .title{
   font-size: 56px;
   line-height: 1.07;
}
/* ---------------------->
кнопка по замовчуванню */
.hero .button{
   background: var(--primary-brand-color);
   color: var(--primary-white-color); 
   line-height: 1.19;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   letter-spacing: 0.04em;
   cursor: pointer;
}
.hero .button:hover,
.hero .button:focus{
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero .button:active{
   background-color: #404BBF;
}
.portfolio .radio-button .button{
   background-color: #F4F4FD;
   color: var(--primary-brand-color);
   letter-spacing: 0.04em;
   cursor: pointer;
}
/* кнопка у якої присутній власний атрибут 'active' в html */
.portfolio .radio-button .button[active] {
   background-color: var(--primary-brand-color);
   color:var(--primary-white-color);
}
.portfolio .cards .link{
   color: ;
}
/* ---------------------->
 у секціях (крім класу "hero") заголовки (<h2>) та підзаголовки (<h3>) мають спільний параметр "font-weight", тому вирішив об'єднати */
.section .title,
.section .item-title{
   font-weight: 600;
}
/* можна було задати спільний line-height: 1.15 але вирішив заморочитись */
.section .title{
   font-size: 36px;
   line-height: 1.1;
}
.section .item-title,
.portfolio .section .title{
   font-size: 20px;
   line-height: 1.2;
}
.portfolio .type{
   font-weight: 400;
}
.team{
   background-color: #F4F4FD;
}
/* ------------->------------->-------------> */
footer{
   background-color: var(--secondary-text-color);
}
/* ----------------------> */
.footer .logo{
   line-height: 1.17;
}
.footer .logo .studio{
   color: #F4F4FD;
}
/* ----------------------> */
.slogan {
   color: #E7E9FC;
}